{% assign repo_url =  include.repository | split: '/' %}

{% if site.data.repositories.github_users contains repo_url.first %}
  {% assign show_owner = false %}
{% else %}
  {% assign show_owner = true %}
{% endif %}

<div class="repo p-2 text-center d-flex flex-wrap flex-md-nowrap justify-content-between align-items-center">
  <a href="https://github.com/{{ include.repository }}">
    <img class="repo-img-light w-100" alt="{{ include.repository }}" src="https://github-readme-stats.vercel.app/api/pin/?username={{ repo_url.first }}&repo={{ repo_url.last }}&count_private=true&theme={{ site.repo_theme_light }}&show_owner={{ show_owner }}">
  </a>
  <!-- Add another stat or item here, such as stars, forks, etc. -->
</div>
